* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #DDDDDD;
}


/* Navbar */
#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: #00384A;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
    z-index: 999;
}
#nav > .center {
    font-size: .47rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}
#nav > .center > p {
    color: #ABD0BC;
}



/* Menu */
.menu_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 78px;
}
label[for=menu_label] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25px;
    height: 25px;
}
label[for=menu_label] > span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
}
#menu {
    visibility: hidden;
    font-size: .8rem;
    background: #00384A;
    border-radius: 0 0 10px 10px;
    transition: 0;
    z-index: 999;
    width: 120px;
    margin-top: 14px;
}
#menu_label:checked + #menu {
    visibility: visible;
}
#menu > li {
    list-style: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: 0;
}
#menu > li:hover {
    background: #006384;
    transition: .6s;
    padding-left: 35px;
}
#menu > li:last-child {
    margin-bottom: 10px;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section > h1 {
  text-align: center;
}


  /* Section card */
  
section.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
  margin: 8px;
  position: relative;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}
section.card > h2 {
  text-align: center;
  background: #00384A;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
section.card > p.card-post-item {
  padding: 5px;
  color: #494B63;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
section.card > p.card-post-item:not(:last-child)::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  right: 20%;
  height: 1px;
  background: rgba(73, 75, 99, .1);
  margin: 0 auto;
}
section.card p.card-post-item > .card-post-button {
  background: #00384A;
  color: #fff;
  padding: 10px;
  margin: 0 5px 5px;
  border: none;
  color: #fff;
  position: relative;
  float: right;
  cursor: pointer;
}
section.card button:active,
section.card button:hover {
  background: #006384;
}

/* Tabela de Usuários */
#fatura-itens {
  background: #fff;
  width: 80vw;
  min-height: 100px;
  border-color: #494B63;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 1px #000;
}
#fatura-itens > thead {
  background: #00384A;
  color: #fff;
  text-align: center;
}
#fatura-itens > thead td {
  padding: 8px;
  font-weight: bold;
}
#fatura-itens > tbody td.no-item-loaded {
  color: #494B63;
  text-align: center;
  font-weight: 200;
}
#fatura-itens > tbody > td {
  
}

#loadBill {
  background: linear-gradient(180deg, #00384A, #022834);
  opacity: 1;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#loadBill:active {
  background: #006384;
}

/***********/
/* Mobile */
/***********/

@media (max-width: 600px) {
    #nav > .center {
  display: none;
  }
    
    /* Main */
    main {
padding-top: 20px;
  }
   section {
    width: 80vw;
  }
  
  /* Carregar Fatura */
#loadBill {
    position: fixed;
    bottom: 0;
}

}

/* TABLET */
@media (min-width: 768px) {
  section.card,
  #fatura-itens {
  min-height: 250px;
  }
  section.card:first-child {
    grid-area: 1 / 1 / 2 / 2;
  }
  section.card:nth-child(2) {
    grid-area: 1 / 2 / 1 / 3;
  }
  #fatura-itens {
    grid-area: 2 / 1 / 3 / 3;
    margin: 0 auto;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 80vw;
    margin: 0 auto
  }
  #loadBill {
    position: fixed;
    bottom: 0;
  }
  
}